body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #4a4a4a;
}

#hero {
    background-image: url('starbucks-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    padding: 0 15px;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    background-color: #222;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color:black;
}

#about {
    padding: 40px;
    background-color:lightgreen;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 20px;
    line-height: 1.5;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}